<!DOCTYPE html>

<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<style>
form{
text-align: center;
margin-bottom: 5px;
}
input{
width: 250px;
background-color: white;
border: 1px solid gray;
}
</style>
</head>
<body>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Москва" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Абая" name="ff"/>
</form>
<form action="/my/" method="post">
<input type="submit" value="Райымбек батыра   ->   Москва" name="ff"/>
</form>
</body>
</html>