<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_048b94b40c1f46e1a2c2ca130c119ecd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            form{display: inline;}</style>
</head>
<body>
<form action="/my-link/" method="post">
<input type="text" placeholder="start point" name="start_point">
<input type="text" placeholder="end point" name="end_point">
<input type="submit" value="route" name="btn"/>
<input type="submit" value="add to favorite" name="btn"/></form>
<form action="/history/" method="post"> <input type="submit" value="history" /></form>
<form action="/favorite/" method="post"> <input type="submit" value="favorite" /></form>
<label></label>
<div class="folium-map" id="map_048b94b40c1f46e1a2c2ca130c119ecd"></div>
</body>
<script>    
    
            var map_048b94b40c1f46e1a2c2ca130c119ecd = L.map(
                "map_048b94b40c1f46e1a2c2ca130c119ecd",
                {
                    center: [43.25654, 76.92848],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4f124bf2a7c044aab626e11ed6b3c4cd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var circle_marker_65211d51388f465dacb33be76280ad39 = L.circleMarker(
                [43.271201, 76.9448],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_1b3071503bb74a43ad203c9dec61cfb8 = L.popup({"maxWidth": "100%"});

        
            var html_0920ac3dbe4f4a28afa0c50ab37747b9 = $(`<div id="html_0920ac3dbe4f4a28afa0c50ab37747b9" style="width: 100.0%; height: 100.0%;">Райымбек батыра</div>`)[0];
            popup_1b3071503bb74a43ad203c9dec61cfb8.setContent(html_0920ac3dbe4f4a28afa0c50ab37747b9);
        

        circle_marker_65211d51388f465dacb33be76280ad39.bindPopup(popup_1b3071503bb74a43ad203c9dec61cfb8)
        ;

        
    
    
            var circle_marker_8a9172b7161a4e7b9660eadc3de4e747 = L.circleMarker(
                [43.260199, 76.946103],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_5342a4a55aad4aa084c6e3b33794f2f2 = L.popup({"maxWidth": "100%"});

        
            var html_2817c9dd0c2b4b5d8a5771864fc45fac = $(`<div id="html_2817c9dd0c2b4b5d8a5771864fc45fac" style="width: 100.0%; height: 100.0%;">Жибек Жолы</div>`)[0];
            popup_5342a4a55aad4aa084c6e3b33794f2f2.setContent(html_2817c9dd0c2b4b5d8a5771864fc45fac);
        

        circle_marker_8a9172b7161a4e7b9660eadc3de4e747.bindPopup(popup_5342a4a55aad4aa084c6e3b33794f2f2)
        ;

        
    
    
            var circle_marker_d8c28d9142b74cc8a3a713e0017b4408 = L.circleMarker(
                [43.251295, 76.945456],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_9085c804d66a4df9966555c5560a315d = L.popup({"maxWidth": "100%"});

        
            var html_356e12c61d75406ba2b0f65711c7ecf8 = $(`<div id="html_356e12c61d75406ba2b0f65711c7ecf8" style="width: 100.0%; height: 100.0%;">Алмалы</div>`)[0];
            popup_9085c804d66a4df9966555c5560a315d.setContent(html_356e12c61d75406ba2b0f65711c7ecf8);
        

        circle_marker_d8c28d9142b74cc8a3a713e0017b4408.bindPopup(popup_9085c804d66a4df9966555c5560a315d)
        ;

        
    
    
            var circle_marker_2f3cd77da5ea4dcb9c1b242b23818b69 = L.circleMarker(
                [43.242548, 76.949588],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_a4f579a8a97e4f4cabf18c70847f4640 = L.popup({"maxWidth": "100%"});

        
            var html_77fa50cad01e403b9f0d9adc4b2ae3ec = $(`<div id="html_77fa50cad01e403b9f0d9adc4b2ae3ec" style="width: 100.0%; height: 100.0%;">Абая</div>`)[0];
            popup_a4f579a8a97e4f4cabf18c70847f4640.setContent(html_77fa50cad01e403b9f0d9adc4b2ae3ec);
        

        circle_marker_2f3cd77da5ea4dcb9c1b242b23818b69.bindPopup(popup_a4f579a8a97e4f4cabf18c70847f4640)
        ;

        
    
    
            var circle_marker_d9db28d2d23644eab22ad6f558a11786 = L.circleMarker(
                [43.240401, 76.927696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_0c1f6e07b3d94720a4b31e51cd65e6a4 = L.popup({"maxWidth": "100%"});

        
            var html_a67415ac8e904efb8c49f1662e987509 = $(`<div id="html_a67415ac8e904efb8c49f1662e987509" style="width: 100.0%; height: 100.0%;">Байконур</div>`)[0];
            popup_0c1f6e07b3d94720a4b31e51cd65e6a4.setContent(html_a67415ac8e904efb8c49f1662e987509);
        

        circle_marker_d9db28d2d23644eab22ad6f558a11786.bindPopup(popup_0c1f6e07b3d94720a4b31e51cd65e6a4)
        ;

        
    
    
            var circle_marker_673e0eafa23143a9877c7e1c22c72271 = L.circleMarker(
                [43.240362, 76.917519],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_d2408a4ba05f4911aca44dc443ae0c04 = L.popup({"maxWidth": "100%"});

        
            var html_77c16e023a154799985f285b744f65bb = $(`<div id="html_77c16e023a154799985f285b744f65bb" style="width: 100.0%; height: 100.0%;">Драмтеатр имени Ауэзова</div>`)[0];
            popup_d2408a4ba05f4911aca44dc443ae0c04.setContent(html_77c16e023a154799985f285b744f65bb);
        

        circle_marker_673e0eafa23143a9877c7e1c22c72271.bindPopup(popup_d2408a4ba05f4911aca44dc443ae0c04)
        ;

        
    
    
            var circle_marker_5582f732db11464bbba45f60b5bd3a80 = L.circleMarker(
                [43.239041, 76.897612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_150b862878a44262a054e9665cbee8f6 = L.popup({"maxWidth": "100%"});

        
            var html_a01593311a2f4b97a08ccc59f8e89986 = $(`<div id="html_a01593311a2f4b97a08ccc59f8e89986" style="width: 100.0%; height: 100.0%;">Алатау</div>`)[0];
            popup_150b862878a44262a054e9665cbee8f6.setContent(html_a01593311a2f4b97a08ccc59f8e89986);
        

        circle_marker_5582f732db11464bbba45f60b5bd3a80.bindPopup(popup_150b862878a44262a054e9665cbee8f6)
        ;

        
    
    
            var circle_marker_e8bf59e663a34a748672f324a34a33b2 = L.circleMarker(
                [43.2362, 76.8764],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_ec50837722da43398bd0691fef316ba8 = L.popup({"maxWidth": "100%"});

        
            var html_614b55908212479c9e59bfa35a6e6ccf = $(`<div id="html_614b55908212479c9e59bfa35a6e6ccf" style="width: 100.0%; height: 100.0%;">Сайран</div>`)[0];
            popup_ec50837722da43398bd0691fef316ba8.setContent(html_614b55908212479c9e59bfa35a6e6ccf);
        

        circle_marker_e8bf59e663a34a748672f324a34a33b2.bindPopup(popup_ec50837722da43398bd0691fef316ba8)
        ;

        
    
    
            var circle_marker_9dcf8dd860d74d52ad37b5e1268d8a94 = L.circleMarker(
                [43.23, 76.867],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
        var popup_fa2ea9e536874dc185d040ef60f4a136 = L.popup({"maxWidth": "100%"});

        
            var html_3f126cff3548451f9b815560f6d426e3 = $(`<div id="html_3f126cff3548451f9b815560f6d426e3" style="width: 100.0%; height: 100.0%;">Москва</div>`)[0];
            popup_fa2ea9e536874dc185d040ef60f4a136.setContent(html_3f126cff3548451f9b815560f6d426e3);
        

        circle_marker_9dcf8dd860d74d52ad37b5e1268d8a94.bindPopup(popup_fa2ea9e536874dc185d040ef60f4a136)
        ;

        
    
    
            var color_line_5fdf27238e6e483caeb2f2853b4bc670 = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_a548a272c4ac457bb0136d77b3c35142 = L.polyline(
                [[[43.271201, 76.9448], [43.260199, 76.946103]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_5fdf27238e6e483caeb2f2853b4bc670);
        
    
            var color_line_f9da29d6196a4ada9f88403e1337f04a = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_1049b9822f2147dcbc1ca5087e79f823 = L.polyline(
                [[[43.260199, 76.946103], [43.251295, 76.945456]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_f9da29d6196a4ada9f88403e1337f04a);
        
    
            var color_line_2ae841bae0304fd69d5adaedcb02c7e1 = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_241eac3c8c964488b18bc7552524af0d = L.polyline(
                [[[43.251295, 76.945456], [43.242548, 76.949588]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_2ae841bae0304fd69d5adaedcb02c7e1);
        
    
            var color_line_c0f60d27ade64384990962d6ff35ffd2 = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_cc5b73d7f160414f8feffd447207d826 = L.polyline(
                [[[43.242548, 76.949588], [43.240401, 76.927696]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_c0f60d27ade64384990962d6ff35ffd2);
        
    
            var color_line_a5e51a65ab9a4de7b60db923a5d5d12b = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_d4a8e3681abd4604b40f0bb7e64c671f = L.polyline(
                [[[43.240401, 76.927696], [43.240362, 76.917519]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_a5e51a65ab9a4de7b60db923a5d5d12b);
        
    
            var color_line_445b65c074004db99bb1e4adfc7d7d65 = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_89949f88a13d4c2bba92163bfc840950 = L.polyline(
                [[[43.240362, 76.917519], [43.239041, 76.897612]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_445b65c074004db99bb1e4adfc7d7d65);
        
    
            var color_line_8db4d3d5e32a4d869d840afb66a284cb = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_710a222e3c3643a1a55b87ec18745fcb = L.polyline(
                [[[43.239041, 76.897612], [43.2362, 76.8764]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_8db4d3d5e32a4d869d840afb66a284cb);
        
    
            var color_line_c8809e05a5f14f7a86c5f9189835caa8 = L.featureGroup(
                {}
            ).addTo(map_048b94b40c1f46e1a2c2ca130c119ecd);
        
    
            var poly_line_eadea9dbbd6743f29f89d310d010d38b = L.polyline(
                [[[43.2362, 76.8764], [43.23, 76.867]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_c8809e05a5f14f7a86c5f9189835caa8);
        
</script>