<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_3a5c146df54c474a9bc2b721aed79d8f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            form{display: inline;}</style>
</head>
<body>
<form action="/my-link/" method="post">
<input type="text" placeholder="start point" name="start_point">
<input type="text" placeholder="end point" name="end_point">
<input type="submit" value="Route" />
</form>
<form action="/history/" method="post"> <input type="submit" value="history" /></form>
<form action="/favorite/" method="post"> <input type="submit" value="favorite" /></form>
<form action="/add_to_favorite/" method="post"> <input type="submit" value="add to favorite" /></form>
<label></label>
<div class="folium-map" id="map_3a5c146df54c474a9bc2b721aed79d8f"></div>
</body>
<script>    
    
            var map_3a5c146df54c474a9bc2b721aed79d8f = L.map(
                "map_3a5c146df54c474a9bc2b721aed79d8f",
                {
                    center: [43.25654, 76.92848],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_132814f9419f48f6b37357180a34f5e9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var circle_marker_b3b15a3d25db423da7a239af905a9ba6 = L.circleMarker(
                [43.271201, 76.9448],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_42ca68ae456c4215b2e9080eced0214a = L.popup({"maxWidth": "100%"});

        
            var html_20a130033d2b4bb6950ccf02f54896ff = $(`<div id="html_20a130033d2b4bb6950ccf02f54896ff" style="width: 100.0%; height: 100.0%;">Райымбек батыра</div>`)[0];
            popup_42ca68ae456c4215b2e9080eced0214a.setContent(html_20a130033d2b4bb6950ccf02f54896ff);
        

        circle_marker_b3b15a3d25db423da7a239af905a9ba6.bindPopup(popup_42ca68ae456c4215b2e9080eced0214a)
        ;

        
    
    
            var circle_marker_5a9135eb2a2c436e9ea715a539f4aa70 = L.circleMarker(
                [43.260199, 76.946103],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_fd8a021e04434d8fb4fa51a6d4aed3d2 = L.popup({"maxWidth": "100%"});

        
            var html_9ac9a4c4f79949de92804a23359978dc = $(`<div id="html_9ac9a4c4f79949de92804a23359978dc" style="width: 100.0%; height: 100.0%;">Жибек Жолы</div>`)[0];
            popup_fd8a021e04434d8fb4fa51a6d4aed3d2.setContent(html_9ac9a4c4f79949de92804a23359978dc);
        

        circle_marker_5a9135eb2a2c436e9ea715a539f4aa70.bindPopup(popup_fd8a021e04434d8fb4fa51a6d4aed3d2)
        ;

        
    
    
            var circle_marker_d7b042340e7547a2ac322b22d320b71b = L.circleMarker(
                [43.251295, 76.945456],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_516e652f7aa94f02a3ffba3eac11a6ae = L.popup({"maxWidth": "100%"});

        
            var html_30bee1f18a6445818ee9d94d190df106 = $(`<div id="html_30bee1f18a6445818ee9d94d190df106" style="width: 100.0%; height: 100.0%;">Алмалы</div>`)[0];
            popup_516e652f7aa94f02a3ffba3eac11a6ae.setContent(html_30bee1f18a6445818ee9d94d190df106);
        

        circle_marker_d7b042340e7547a2ac322b22d320b71b.bindPopup(popup_516e652f7aa94f02a3ffba3eac11a6ae)
        ;

        
    
    
            var circle_marker_72d78a59f3ea4cc793f140e29c784e21 = L.circleMarker(
                [43.242548, 76.949588],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_96fb94673c4541b88a3c2ea6e3b26629 = L.popup({"maxWidth": "100%"});

        
            var html_b49d9b84ce0c4905b87f03d401094a84 = $(`<div id="html_b49d9b84ce0c4905b87f03d401094a84" style="width: 100.0%; height: 100.0%;">Абая</div>`)[0];
            popup_96fb94673c4541b88a3c2ea6e3b26629.setContent(html_b49d9b84ce0c4905b87f03d401094a84);
        

        circle_marker_72d78a59f3ea4cc793f140e29c784e21.bindPopup(popup_96fb94673c4541b88a3c2ea6e3b26629)
        ;

        
    
    
            var circle_marker_2159d8c70e9440a891d8659b5aad736a = L.circleMarker(
                [43.240401, 76.927696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_f36a6b420d3b40878e5679c9b6c33bf3 = L.popup({"maxWidth": "100%"});

        
            var html_e6209a55c5ec4bc190dd77eccfce5839 = $(`<div id="html_e6209a55c5ec4bc190dd77eccfce5839" style="width: 100.0%; height: 100.0%;">Байконур</div>`)[0];
            popup_f36a6b420d3b40878e5679c9b6c33bf3.setContent(html_e6209a55c5ec4bc190dd77eccfce5839);
        

        circle_marker_2159d8c70e9440a891d8659b5aad736a.bindPopup(popup_f36a6b420d3b40878e5679c9b6c33bf3)
        ;

        
    
    
            var circle_marker_598bb2b4b73a4421b407e7de99080fbd = L.circleMarker(
                [43.240362, 76.917519],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_6ea629b7f7ba40399212cd189725c89c = L.popup({"maxWidth": "100%"});

        
            var html_af922b26301f4d8ab8bab6906e02870f = $(`<div id="html_af922b26301f4d8ab8bab6906e02870f" style="width: 100.0%; height: 100.0%;">Драмтеатр имени Ауэзова</div>`)[0];
            popup_6ea629b7f7ba40399212cd189725c89c.setContent(html_af922b26301f4d8ab8bab6906e02870f);
        

        circle_marker_598bb2b4b73a4421b407e7de99080fbd.bindPopup(popup_6ea629b7f7ba40399212cd189725c89c)
        ;

        
    
    
            var circle_marker_def46118720f47deacbddfd9c8fe81f2 = L.circleMarker(
                [43.239041, 76.897612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_eb32b5fe54e04446ac40ce55b43cfaf2 = L.popup({"maxWidth": "100%"});

        
            var html_8c2e9d055b0849308de2693f129574f5 = $(`<div id="html_8c2e9d055b0849308de2693f129574f5" style="width: 100.0%; height: 100.0%;">Алатау</div>`)[0];
            popup_eb32b5fe54e04446ac40ce55b43cfaf2.setContent(html_8c2e9d055b0849308de2693f129574f5);
        

        circle_marker_def46118720f47deacbddfd9c8fe81f2.bindPopup(popup_eb32b5fe54e04446ac40ce55b43cfaf2)
        ;

        
    
    
            var circle_marker_f99a1ea46d8441539f1e1c576db848bd = L.circleMarker(
                [43.2362, 76.8764],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_b57408ba5ef64b67b1ee95a94a822224 = L.popup({"maxWidth": "100%"});

        
            var html_b5e2adad4f544b81abbb7f1a8c8b292e = $(`<div id="html_b5e2adad4f544b81abbb7f1a8c8b292e" style="width: 100.0%; height: 100.0%;">Сайран</div>`)[0];
            popup_b57408ba5ef64b67b1ee95a94a822224.setContent(html_b5e2adad4f544b81abbb7f1a8c8b292e);
        

        circle_marker_f99a1ea46d8441539f1e1c576db848bd.bindPopup(popup_b57408ba5ef64b67b1ee95a94a822224)
        ;

        
    
    
            var circle_marker_5f66e63e2f6c4517bbad52bb799fc53d = L.circleMarker(
                [43.23, 76.867],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
        var popup_88ccd80b533d4df69d760ead44130dd9 = L.popup({"maxWidth": "100%"});

        
            var html_44c0ddc42dee4e36a902486f0e564df1 = $(`<div id="html_44c0ddc42dee4e36a902486f0e564df1" style="width: 100.0%; height: 100.0%;">Москва</div>`)[0];
            popup_88ccd80b533d4df69d760ead44130dd9.setContent(html_44c0ddc42dee4e36a902486f0e564df1);
        

        circle_marker_5f66e63e2f6c4517bbad52bb799fc53d.bindPopup(popup_88ccd80b533d4df69d760ead44130dd9)
        ;

        
    
    
            var color_line_9119724f2f364a4684ed56335050d31a = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_67706504146a4a0fab62ada51129e625 = L.polyline(
                [[[43.271201, 76.9448], [43.260199, 76.946103]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_9119724f2f364a4684ed56335050d31a);
        
    
            var color_line_2c5555120fa14185baddf82190c87867 = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_f2d8640dbbe541678606cace70c7a8e2 = L.polyline(
                [[[43.260199, 76.946103], [43.251295, 76.945456]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_2c5555120fa14185baddf82190c87867);
        
    
            var color_line_2f647eba13dc421c9aa04451283618e7 = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_5f454362c73249858fe20c566443fe54 = L.polyline(
                [[[43.251295, 76.945456], [43.242548, 76.949588]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_2f647eba13dc421c9aa04451283618e7);
        
    
            var color_line_9d809da5842f4619997400c3f322b2b6 = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_5238773c43c54ced8a9829fb55280948 = L.polyline(
                [[[43.242548, 76.949588], [43.240401, 76.927696]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_9d809da5842f4619997400c3f322b2b6);
        
    
            var color_line_77afbe174eea40338e8911caf3640edc = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_b118b33776d04adda97568a42dccc983 = L.polyline(
                [[[43.240401, 76.927696], [43.240362, 76.917519]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_77afbe174eea40338e8911caf3640edc);
        
    
            var color_line_5ba9c9b66bbf417f9b012ca41bc0825d = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_5b1a44f5483a42529cf103d6d583cb3e = L.polyline(
                [[[43.240362, 76.917519], [43.239041, 76.897612]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_5ba9c9b66bbf417f9b012ca41bc0825d);
        
    
            var color_line_af6ab69d9ec4488186c0817da216ae40 = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_44b82e746516416ba668faf8112dd224 = L.polyline(
                [[[43.239041, 76.897612], [43.2362, 76.8764]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_af6ab69d9ec4488186c0817da216ae40);
        
    
            var color_line_3b82109e7d6b4e95926c70dad2dc1057 = L.featureGroup(
                {}
            ).addTo(map_3a5c146df54c474a9bc2b721aed79d8f);
        
    
            var poly_line_42d3e029bf80482a9c8f5a54ac117bbf = L.polyline(
                [[[43.2362, 76.8764], [43.23, 76.867]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_3b82109e7d6b4e95926c70dad2dc1057);
        
</script>