<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_a3dad5ab96544374a9f29d1b7cdd719d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            form{display: inline;}</style>
</head>
<body>
<form action="/my-link/" method="post">
<input type="text" placeholder="start point" name="start_point">
<input type="text" placeholder="end point" name="end_point">
<input type="submit" value="Route" />
</form>
<form action="/history/" method="post"> <input type="submit" value="history" /></form>
<form action="/favorite/" method="post"> <input type="submit" value="favorite" /></form>
<form action="/add_to_favorite/" method="post"> <input type="submit" value="add to favorite" /></form>
<p><label>Райымбек батыра->Жибек Жолы->Алмалы->Абая</label></p>
<div class="folium-map" id="map_a3dad5ab96544374a9f29d1b7cdd719d"></div>
</body>
<script>    
    
            var map_a3dad5ab96544374a9f29d1b7cdd719d = L.map(
                "map_a3dad5ab96544374a9f29d1b7cdd719d",
                {
                    center: [43.25654, 76.92848],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_65452ca66c314e728e165560aababe41 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
            var circle_marker_7ef6f22f4cdc4a739f606483e8d96d64 = L.circleMarker(
                [43.271201, 76.9448],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_84006367016e44cdaf41591204cf00c6 = L.popup({"maxWidth": "100%"});

        
            var html_49e1ff55e31d4a18aa4bf51fd8e256d9 = $(`<div id="html_49e1ff55e31d4a18aa4bf51fd8e256d9" style="width: 100.0%; height: 100.0%;">Райымбек батыра</div>`)[0];
            popup_84006367016e44cdaf41591204cf00c6.setContent(html_49e1ff55e31d4a18aa4bf51fd8e256d9);
        

        circle_marker_7ef6f22f4cdc4a739f606483e8d96d64.bindPopup(popup_84006367016e44cdaf41591204cf00c6)
        ;

        
    
    
            var circle_marker_37f11ea67dc8482f854169a061adf170 = L.circleMarker(
                [43.260199, 76.946103],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_fb0af86b329c4fd1a1a425a89b7c9a87 = L.popup({"maxWidth": "100%"});

        
            var html_f71e24c650454fbf8855d07fb713b946 = $(`<div id="html_f71e24c650454fbf8855d07fb713b946" style="width: 100.0%; height: 100.0%;">Жибек Жолы</div>`)[0];
            popup_fb0af86b329c4fd1a1a425a89b7c9a87.setContent(html_f71e24c650454fbf8855d07fb713b946);
        

        circle_marker_37f11ea67dc8482f854169a061adf170.bindPopup(popup_fb0af86b329c4fd1a1a425a89b7c9a87)
        ;

        
    
    
            var circle_marker_f86241cd03e446be8aa9c3ebe9fae6d8 = L.circleMarker(
                [43.251295, 76.945456],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_bb5c67a705b54d8c8f33ffa6c0db391a = L.popup({"maxWidth": "100%"});

        
            var html_cd0e2b892d6940509a2ce4f03f8fa7da = $(`<div id="html_cd0e2b892d6940509a2ce4f03f8fa7da" style="width: 100.0%; height: 100.0%;">Алмалы</div>`)[0];
            popup_bb5c67a705b54d8c8f33ffa6c0db391a.setContent(html_cd0e2b892d6940509a2ce4f03f8fa7da);
        

        circle_marker_f86241cd03e446be8aa9c3ebe9fae6d8.bindPopup(popup_bb5c67a705b54d8c8f33ffa6c0db391a)
        ;

        
    
    
            var circle_marker_a36cdfdfde1c460e81aa014dbe3517fc = L.circleMarker(
                [43.242548, 76.949588],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_ba8f76814367415e95bc232ace314bdb = L.popup({"maxWidth": "100%"});

        
            var html_71a6bba860494223a463f8a50ca3ce03 = $(`<div id="html_71a6bba860494223a463f8a50ca3ce03" style="width: 100.0%; height: 100.0%;">Абая</div>`)[0];
            popup_ba8f76814367415e95bc232ace314bdb.setContent(html_71a6bba860494223a463f8a50ca3ce03);
        

        circle_marker_a36cdfdfde1c460e81aa014dbe3517fc.bindPopup(popup_ba8f76814367415e95bc232ace314bdb)
        ;

        
    
    
            var circle_marker_a655648cd94c4d9795707f12f7ceba69 = L.circleMarker(
                [43.240401, 76.927696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_c570c91ad87649599ef8c408ec122086 = L.popup({"maxWidth": "100%"});

        
            var html_67ed6fd7384846939213a6742f1108b2 = $(`<div id="html_67ed6fd7384846939213a6742f1108b2" style="width: 100.0%; height: 100.0%;">Байконур</div>`)[0];
            popup_c570c91ad87649599ef8c408ec122086.setContent(html_67ed6fd7384846939213a6742f1108b2);
        

        circle_marker_a655648cd94c4d9795707f12f7ceba69.bindPopup(popup_c570c91ad87649599ef8c408ec122086)
        ;

        
    
    
            var circle_marker_9fc529a042ea403fb15e44bc150ad48f = L.circleMarker(
                [43.240362, 76.917519],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_f18990bdff4d42c7be50a7603fea2f48 = L.popup({"maxWidth": "100%"});

        
            var html_deeda0b149a14469ae1cca1e138edc86 = $(`<div id="html_deeda0b149a14469ae1cca1e138edc86" style="width: 100.0%; height: 100.0%;">Драмтеатр имени Ауэзова</div>`)[0];
            popup_f18990bdff4d42c7be50a7603fea2f48.setContent(html_deeda0b149a14469ae1cca1e138edc86);
        

        circle_marker_9fc529a042ea403fb15e44bc150ad48f.bindPopup(popup_f18990bdff4d42c7be50a7603fea2f48)
        ;

        
    
    
            var circle_marker_e167d667cc3a47e7aa9a916ce06640c2 = L.circleMarker(
                [43.239041, 76.897612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_15f50461324f4174981b9a76f426b2d5 = L.popup({"maxWidth": "100%"});

        
            var html_47f04659d19340e1adbc6deda2efee76 = $(`<div id="html_47f04659d19340e1adbc6deda2efee76" style="width: 100.0%; height: 100.0%;">Алатау</div>`)[0];
            popup_15f50461324f4174981b9a76f426b2d5.setContent(html_47f04659d19340e1adbc6deda2efee76);
        

        circle_marker_e167d667cc3a47e7aa9a916ce06640c2.bindPopup(popup_15f50461324f4174981b9a76f426b2d5)
        ;

        
    
    
            var circle_marker_8fc91895b7ce49a5872115cf68938bf9 = L.circleMarker(
                [43.2362, 76.8764],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_a806f8a177184d2b9a137da134989243 = L.popup({"maxWidth": "100%"});

        
            var html_24deec002abc4e3da8ad7dbf16c1d803 = $(`<div id="html_24deec002abc4e3da8ad7dbf16c1d803" style="width: 100.0%; height: 100.0%;">Сайран</div>`)[0];
            popup_a806f8a177184d2b9a137da134989243.setContent(html_24deec002abc4e3da8ad7dbf16c1d803);
        

        circle_marker_8fc91895b7ce49a5872115cf68938bf9.bindPopup(popup_a806f8a177184d2b9a137da134989243)
        ;

        
    
    
            var circle_marker_aab41456f76a45d9bf4fa3a0743a00ac = L.circleMarker(
                [43.23, 76.867],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
        var popup_6d880a0c0e1b42feacc50529373883f1 = L.popup({"maxWidth": "100%"});

        
            var html_132a1269235c404f9b6a703a03d5453d = $(`<div id="html_132a1269235c404f9b6a703a03d5453d" style="width: 100.0%; height: 100.0%;">Москва</div>`)[0];
            popup_6d880a0c0e1b42feacc50529373883f1.setContent(html_132a1269235c404f9b6a703a03d5453d);
        

        circle_marker_aab41456f76a45d9bf4fa3a0743a00ac.bindPopup(popup_6d880a0c0e1b42feacc50529373883f1)
        ;

        
    
    
            var color_line_8bb869c07a09457fafce8dc269edff7e = L.featureGroup(
                {}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
            var poly_line_ebd1eebfa2ca46d6b2cff45367abb34b = L.polyline(
                [[[43.271201, 76.9448], [43.260199, 76.946103]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_8bb869c07a09457fafce8dc269edff7e);
        
    
            var color_line_1715b15d0cae46cfa25a5f211f0ef943 = L.featureGroup(
                {}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
            var poly_line_53287379c247482d986222d950cf507f = L.polyline(
                [[[43.260199, 76.946103], [43.251295, 76.945456]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_1715b15d0cae46cfa25a5f211f0ef943);
        
    
            var color_line_469ccfba68164fa0be1af773a01ac450 = L.featureGroup(
                {}
            ).addTo(map_a3dad5ab96544374a9f29d1b7cdd719d);
        
    
            var poly_line_3ddaa77fc5f24a7a840c2d21c0e69523 = L.polyline(
                [[[43.251295, 76.945456], [43.242548, 76.949588]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_469ccfba68164fa0be1af773a01ac450);
        
</script>