<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_8d650f967b574a6090f05c6f40d59489 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            form{display: inline;}</style>
</head>
<body>
<form action="/my-link/" method="post">
<input type="text" placeholder="start point" name="start_point">
<input type="text" placeholder="end point" name="end_point">
<input type="submit" value="route" name="btn"/>
<input type="submit" value="add to favorite" name="btn"/></form>
<form action="/history/" method="post"> <input type="submit" value="history" /></form>
<form action="/favorite/" method="post"> <input type="submit" value="favorite" /></form>
<form action="/your-friends/" method="post"> <input type="submit" value="your friends favorite routes" /></form>
<p><label>Райымбек батыра->Жибек Жолы->Алмалы->Абая</label></p>
<div class="folium-map" id="map_8d650f967b574a6090f05c6f40d59489"></div>
</body>
<script>    
    
            var map_8d650f967b574a6090f05c6f40d59489 = L.map(
                "map_8d650f967b574a6090f05c6f40d59489",
                {
                    center: [43.25654, 76.92848],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_64d8b3aae6e04eb188a9498f1c835fe8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
            var circle_marker_e1a90f68703f47c7b2aaefbe202af65a = L.circleMarker(
                [43.271201, 76.9448],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_e6c04430cc014575b072882ed1431206 = L.popup({"maxWidth": "100%"});

        
            var html_e198990acb7c4d14915ac22c5b565531 = $(`<div id="html_e198990acb7c4d14915ac22c5b565531" style="width: 100.0%; height: 100.0%;">Райымбек батыра</div>`)[0];
            popup_e6c04430cc014575b072882ed1431206.setContent(html_e198990acb7c4d14915ac22c5b565531);
        

        circle_marker_e1a90f68703f47c7b2aaefbe202af65a.bindPopup(popup_e6c04430cc014575b072882ed1431206)
        ;

        
    
    
            var circle_marker_c6eb3c50d50342e193da2083aeed4a02 = L.circleMarker(
                [43.260199, 76.946103],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_39d08e81c8c24b2494d78d541d2f8454 = L.popup({"maxWidth": "100%"});

        
            var html_0f51bc1549404dccb6fb147dbaa5340a = $(`<div id="html_0f51bc1549404dccb6fb147dbaa5340a" style="width: 100.0%; height: 100.0%;">Жибек Жолы</div>`)[0];
            popup_39d08e81c8c24b2494d78d541d2f8454.setContent(html_0f51bc1549404dccb6fb147dbaa5340a);
        

        circle_marker_c6eb3c50d50342e193da2083aeed4a02.bindPopup(popup_39d08e81c8c24b2494d78d541d2f8454)
        ;

        
    
    
            var circle_marker_5a79ce6895d544e7b304b94e4c146019 = L.circleMarker(
                [43.251295, 76.945456],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_525071e517d74a0c88cb38a8e9356626 = L.popup({"maxWidth": "100%"});

        
            var html_6055156dfbd2405eaf95facad2812075 = $(`<div id="html_6055156dfbd2405eaf95facad2812075" style="width: 100.0%; height: 100.0%;">Алмалы</div>`)[0];
            popup_525071e517d74a0c88cb38a8e9356626.setContent(html_6055156dfbd2405eaf95facad2812075);
        

        circle_marker_5a79ce6895d544e7b304b94e4c146019.bindPopup(popup_525071e517d74a0c88cb38a8e9356626)
        ;

        
    
    
            var circle_marker_2ef969b864004e1f9cb412dc61bdca08 = L.circleMarker(
                [43.242548, 76.949588],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_a205fe8715e04b8bb5ee193cbb8d395b = L.popup({"maxWidth": "100%"});

        
            var html_81249ef70633449c969d4a17b879d7b3 = $(`<div id="html_81249ef70633449c969d4a17b879d7b3" style="width: 100.0%; height: 100.0%;">Абая</div>`)[0];
            popup_a205fe8715e04b8bb5ee193cbb8d395b.setContent(html_81249ef70633449c969d4a17b879d7b3);
        

        circle_marker_2ef969b864004e1f9cb412dc61bdca08.bindPopup(popup_a205fe8715e04b8bb5ee193cbb8d395b)
        ;

        
    
    
            var circle_marker_66e26633bde942e5b3ad0f298b0439f1 = L.circleMarker(
                [43.240401, 76.927696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_04ba0f0fadef459f94cdcf69b9e55a00 = L.popup({"maxWidth": "100%"});

        
            var html_f01c9aa559f74927b5682df9647ccfcf = $(`<div id="html_f01c9aa559f74927b5682df9647ccfcf" style="width: 100.0%; height: 100.0%;">Байконур</div>`)[0];
            popup_04ba0f0fadef459f94cdcf69b9e55a00.setContent(html_f01c9aa559f74927b5682df9647ccfcf);
        

        circle_marker_66e26633bde942e5b3ad0f298b0439f1.bindPopup(popup_04ba0f0fadef459f94cdcf69b9e55a00)
        ;

        
    
    
            var circle_marker_eda7713fa455406a9296f6dddd3753de = L.circleMarker(
                [43.240362, 76.917519],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_df749eb870f84267bb4901b32aae67eb = L.popup({"maxWidth": "100%"});

        
            var html_d610e8b8d5ce4c4683728b87580ce05e = $(`<div id="html_d610e8b8d5ce4c4683728b87580ce05e" style="width: 100.0%; height: 100.0%;">Драмтеатр имени Ауэзова</div>`)[0];
            popup_df749eb870f84267bb4901b32aae67eb.setContent(html_d610e8b8d5ce4c4683728b87580ce05e);
        

        circle_marker_eda7713fa455406a9296f6dddd3753de.bindPopup(popup_df749eb870f84267bb4901b32aae67eb)
        ;

        
    
    
            var circle_marker_b3b5fdb992144d598e5af3fafae1c98f = L.circleMarker(
                [43.239041, 76.897612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_26a600e615ce45ffa3bbeebb4dedd645 = L.popup({"maxWidth": "100%"});

        
            var html_b84ea2b442c24bcbac8c6109da8d7e05 = $(`<div id="html_b84ea2b442c24bcbac8c6109da8d7e05" style="width: 100.0%; height: 100.0%;">Алатау</div>`)[0];
            popup_26a600e615ce45ffa3bbeebb4dedd645.setContent(html_b84ea2b442c24bcbac8c6109da8d7e05);
        

        circle_marker_b3b5fdb992144d598e5af3fafae1c98f.bindPopup(popup_26a600e615ce45ffa3bbeebb4dedd645)
        ;

        
    
    
            var circle_marker_d73689814bd4466cad9c5ffc12e606aa = L.circleMarker(
                [43.2362, 76.8764],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_86e32abf5acc4a79878d67b465ad5851 = L.popup({"maxWidth": "100%"});

        
            var html_85927434e7c74cce9c91797d40eaf617 = $(`<div id="html_85927434e7c74cce9c91797d40eaf617" style="width: 100.0%; height: 100.0%;">Сайран</div>`)[0];
            popup_86e32abf5acc4a79878d67b465ad5851.setContent(html_85927434e7c74cce9c91797d40eaf617);
        

        circle_marker_d73689814bd4466cad9c5ffc12e606aa.bindPopup(popup_86e32abf5acc4a79878d67b465ad5851)
        ;

        
    
    
            var circle_marker_69b4bc43b0be4323bdb41449a78acde9 = L.circleMarker(
                [43.23, 76.867],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
        var popup_e667e4412c054901b0d81a2e64f139ed = L.popup({"maxWidth": "100%"});

        
            var html_6a550b81b0924093bde7fdeafe147b5c = $(`<div id="html_6a550b81b0924093bde7fdeafe147b5c" style="width: 100.0%; height: 100.0%;">Москва</div>`)[0];
            popup_e667e4412c054901b0d81a2e64f139ed.setContent(html_6a550b81b0924093bde7fdeafe147b5c);
        

        circle_marker_69b4bc43b0be4323bdb41449a78acde9.bindPopup(popup_e667e4412c054901b0d81a2e64f139ed)
        ;

        
    
    
            var color_line_278fb78555f749148fb49bf2ef8574b1 = L.featureGroup(
                {}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
            var poly_line_cb97ae6c1b4446bea41b9b8b3e1d7a5a = L.polyline(
                [[[43.271201, 76.9448], [43.260199, 76.946103]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_278fb78555f749148fb49bf2ef8574b1);
        
    
            var color_line_cd56eae8f9984b698df6103056736661 = L.featureGroup(
                {}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
            var poly_line_7231d200e2454613b74730cbf1ed6879 = L.polyline(
                [[[43.260199, 76.946103], [43.251295, 76.945456]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_cd56eae8f9984b698df6103056736661);
        
    
            var color_line_78cfca8df35740a4a97c771f462c42cc = L.featureGroup(
                {}
            ).addTo(map_8d650f967b574a6090f05c6f40d59489);
        
    
            var poly_line_b0d7446ef0fa472eabe4ea7b571a61e1 = L.polyline(
                [[[43.251295, 76.945456], [43.242548, 76.949588]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_78cfca8df35740a4a97c771f462c42cc);
        
</script>