<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_d9a562dafb814162b570663179d7ccfe {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            form{display: inline;}</style>
</head>
<body>
<form action="/my-link/" method="post">
<input type="text" placeholder="start point" name="start_point">
<input type="text" placeholder="end point" name="end_point">
<input type="submit" value="route" name="btn"/>
<input type="submit" value="add to favorite" name="btn"/></form>
<form action="/history/" method="post"> <input type="submit" value="history" /></form>
<form action="/favorite/" method="post"> <input type="submit" value="favorite" /></form>
<p><label>Райымбек батыра->Жибек Жолы->Алмалы->Абая</label></p>
<div class="folium-map" id="map_d9a562dafb814162b570663179d7ccfe"></div>
</body>
<script>    
    
            var map_d9a562dafb814162b570663179d7ccfe = L.map(
                "map_d9a562dafb814162b570663179d7ccfe",
                {
                    center: [43.25654, 76.92848],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3e118aa3529f4af1acbb2853293fc22c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
            var circle_marker_d328faead30347b194515f45e31e1dee = L.circleMarker(
                [43.271201, 76.9448],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_57738b3f95c4465db2c6a9087b140bb3 = L.popup({"maxWidth": "100%"});

        
            var html_2732fb326d6743f79b8bbf3f137da833 = $(`<div id="html_2732fb326d6743f79b8bbf3f137da833" style="width: 100.0%; height: 100.0%;">Райымбек батыра</div>`)[0];
            popup_57738b3f95c4465db2c6a9087b140bb3.setContent(html_2732fb326d6743f79b8bbf3f137da833);
        

        circle_marker_d328faead30347b194515f45e31e1dee.bindPopup(popup_57738b3f95c4465db2c6a9087b140bb3)
        ;

        
    
    
            var circle_marker_fd006c61bf2b4ee089cc5fdf99c21d63 = L.circleMarker(
                [43.260199, 76.946103],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_17761382a06a4bd7adca6e7b7d67a57f = L.popup({"maxWidth": "100%"});

        
            var html_e29ceada324142b38de3223ad4935c5e = $(`<div id="html_e29ceada324142b38de3223ad4935c5e" style="width: 100.0%; height: 100.0%;">Жибек Жолы</div>`)[0];
            popup_17761382a06a4bd7adca6e7b7d67a57f.setContent(html_e29ceada324142b38de3223ad4935c5e);
        

        circle_marker_fd006c61bf2b4ee089cc5fdf99c21d63.bindPopup(popup_17761382a06a4bd7adca6e7b7d67a57f)
        ;

        
    
    
            var circle_marker_76f39fb3b0dd445c89b926d51bcad4d0 = L.circleMarker(
                [43.251295, 76.945456],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_d32a4318a47e4fb28317912f686d520f = L.popup({"maxWidth": "100%"});

        
            var html_fd27e2e4f9544b23b7382a43057edbf3 = $(`<div id="html_fd27e2e4f9544b23b7382a43057edbf3" style="width: 100.0%; height: 100.0%;">Алмалы</div>`)[0];
            popup_d32a4318a47e4fb28317912f686d520f.setContent(html_fd27e2e4f9544b23b7382a43057edbf3);
        

        circle_marker_76f39fb3b0dd445c89b926d51bcad4d0.bindPopup(popup_d32a4318a47e4fb28317912f686d520f)
        ;

        
    
    
            var circle_marker_2a0aa68d03254c63a6037d5c4db43fdf = L.circleMarker(
                [43.242548, 76.949588],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_c6734544e1fb4cdbad90423f50b6ba89 = L.popup({"maxWidth": "100%"});

        
            var html_832d3c3d91aa4b1086f153b4989d5040 = $(`<div id="html_832d3c3d91aa4b1086f153b4989d5040" style="width: 100.0%; height: 100.0%;">Абая</div>`)[0];
            popup_c6734544e1fb4cdbad90423f50b6ba89.setContent(html_832d3c3d91aa4b1086f153b4989d5040);
        

        circle_marker_2a0aa68d03254c63a6037d5c4db43fdf.bindPopup(popup_c6734544e1fb4cdbad90423f50b6ba89)
        ;

        
    
    
            var circle_marker_2e74679d525d483ea8c7a602eace53bf = L.circleMarker(
                [43.240401, 76.927696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_3d57a6394e8a46e7badf7ace568061b0 = L.popup({"maxWidth": "100%"});

        
            var html_70666617c5bd4d54914e700b56c3db2b = $(`<div id="html_70666617c5bd4d54914e700b56c3db2b" style="width: 100.0%; height: 100.0%;">Байконур</div>`)[0];
            popup_3d57a6394e8a46e7badf7ace568061b0.setContent(html_70666617c5bd4d54914e700b56c3db2b);
        

        circle_marker_2e74679d525d483ea8c7a602eace53bf.bindPopup(popup_3d57a6394e8a46e7badf7ace568061b0)
        ;

        
    
    
            var circle_marker_e8ef05e849164c8f8e59ef3ea530641f = L.circleMarker(
                [43.240362, 76.917519],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_a7b032b3f898416eb1af6647a2f3e317 = L.popup({"maxWidth": "100%"});

        
            var html_57d445b6e714405ebf3e6a26d5cd6633 = $(`<div id="html_57d445b6e714405ebf3e6a26d5cd6633" style="width: 100.0%; height: 100.0%;">Драмтеатр имени Ауэзова</div>`)[0];
            popup_a7b032b3f898416eb1af6647a2f3e317.setContent(html_57d445b6e714405ebf3e6a26d5cd6633);
        

        circle_marker_e8ef05e849164c8f8e59ef3ea530641f.bindPopup(popup_a7b032b3f898416eb1af6647a2f3e317)
        ;

        
    
    
            var circle_marker_34d63967559444ec91ccbf60dd5ae6d9 = L.circleMarker(
                [43.239041, 76.897612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_41bf8b955f5f4966b6fb8470dbe2da4e = L.popup({"maxWidth": "100%"});

        
            var html_2dea5e75ce754803ba1c3d47dc66f199 = $(`<div id="html_2dea5e75ce754803ba1c3d47dc66f199" style="width: 100.0%; height: 100.0%;">Алатау</div>`)[0];
            popup_41bf8b955f5f4966b6fb8470dbe2da4e.setContent(html_2dea5e75ce754803ba1c3d47dc66f199);
        

        circle_marker_34d63967559444ec91ccbf60dd5ae6d9.bindPopup(popup_41bf8b955f5f4966b6fb8470dbe2da4e)
        ;

        
    
    
            var circle_marker_67feb13eae0d45f69db869d280de2871 = L.circleMarker(
                [43.2362, 76.8764],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_4ae7621df8834c2bb20b9aa79a30d249 = L.popup({"maxWidth": "100%"});

        
            var html_c0f436b9b7cc46a3a0e24adbfb31ceb1 = $(`<div id="html_c0f436b9b7cc46a3a0e24adbfb31ceb1" style="width: 100.0%; height: 100.0%;">Сайран</div>`)[0];
            popup_4ae7621df8834c2bb20b9aa79a30d249.setContent(html_c0f436b9b7cc46a3a0e24adbfb31ceb1);
        

        circle_marker_67feb13eae0d45f69db869d280de2871.bindPopup(popup_4ae7621df8834c2bb20b9aa79a30d249)
        ;

        
    
    
            var circle_marker_74482cf45b29408099e2e81d5c1a0d3b = L.circleMarker(
                [43.23, 76.867],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
        var popup_615f4c4bac4e4a8ca09e9316c6cbadf6 = L.popup({"maxWidth": "100%"});

        
            var html_b5429afbb21741cca58ca4e8a6231c62 = $(`<div id="html_b5429afbb21741cca58ca4e8a6231c62" style="width: 100.0%; height: 100.0%;">Москва</div>`)[0];
            popup_615f4c4bac4e4a8ca09e9316c6cbadf6.setContent(html_b5429afbb21741cca58ca4e8a6231c62);
        

        circle_marker_74482cf45b29408099e2e81d5c1a0d3b.bindPopup(popup_615f4c4bac4e4a8ca09e9316c6cbadf6)
        ;

        
    
    
            var color_line_d5d755be22714bfd8defc1ed665c4c6c = L.featureGroup(
                {}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
            var poly_line_e707323c6f844311b6411a64d89dbaac = L.polyline(
                [[[43.271201, 76.9448], [43.260199, 76.946103]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_d5d755be22714bfd8defc1ed665c4c6c);
        
    
            var color_line_d5354d94d6354327a3838d8196fa9d9a = L.featureGroup(
                {}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
            var poly_line_f41420ad93864b8ba9d705400b0d26c5 = L.polyline(
                [[[43.260199, 76.946103], [43.251295, 76.945456]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_d5354d94d6354327a3838d8196fa9d9a);
        
    
            var color_line_77403f1b3fa142c1a53440218f834e56 = L.featureGroup(
                {}
            ).addTo(map_d9a562dafb814162b570663179d7ccfe);
        
    
            var poly_line_43283f958a7f4a2ebe1b70da578c1e72 = L.polyline(
                [[[43.251295, 76.945456], [43.242548, 76.949588]]],
                {"bubblingMouseEvents": true, "color": "#ff0000ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#ff0000ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(color_line_77403f1b3fa142c1a53440218f834e56);
        
</script>